nav{
    position: absolute;
    top: 0px;
    color: black;
}

a, a:hover {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.col-sm {
    background-color: #F1F5F9;
    width: 104px;
    height: calc(100vh - 60px);
}

.material-icons-round {
    font-size: 32px !important;
}

.material-icons-sharp {
    font-size: 32px !important;
}

.material-icons {
    font-size: 32px !important;
}

.menu-item-stack {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
}

.row-item-menu {
    display: flex; /* Enable horizontal centering for all rows */
    justify-content: center;
    align-items: center;
}

.row-item-menu.row-item-menu-middle{
    margin-top: 30px;
}