<div class="container">
    <div class="login-container">
        <h1>LOGIN</h1>
        <form class="form-container" [formGroup]="loginForm">
            <h4>Don't have an account? <a routerLink='/public/registration'>Sign Up</a></h4>
            <input formControlName="email" required placeholder="Email">
            <input formControlName="password" required placeholder="Password" type="password">
            <button [disabled]="loginForm.invalid" (click)="login()">LOGIN</button>
        </form>
        <div class="text-post-form-container">
            <p>Or use one of these options</p>
        </div>
        <div class="social-container">
            <app-icon name="google"></app-icon>
            <app-icon name="apple"></app-icon>
            <app-icon name="facebook"></app-icon>
        </div>
    </div>
</div>