<div class="container">
    <div class="login-container">
        <h1>LOGIN</h1>
        <form class="form-container">
            <h4>Don't have an account? <a routerLink='/public/registration'>Sign Up</a></h4>
            <input placeholder="Email">
            <input placeholder="Password" type="password">
            <button>LOGIN</button>
        </form>
        <div class="text-post-form-container">
            <p>Or use one of these options</p>
        </div>
        <div class="social-container">
            <app-icon name="google"></app-icon>
            <app-icon name="apple"></app-icon>
            <app-icon name="facebook"></app-icon>
        </div>
    </div>
</div>